<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>预约检测</title>
    

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
  </head>
  <body>
  
    <div id="app">

    
      <select class="js-states form-control" v-model="order_time" style="width: 100%;">
        
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
        
      </select>
      <button type="button" v-on:click="getTime(1)">change</button>
    </div>
                    
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          order_time: "",
        },
        computed:{
          options:function(v){
            a = [
              { text: 'gggg', value: '11111' },
              { text: 'ccccc', value: '22222' },
              { text: 'xxxxx', value: '33333' }
            ];
            b = [
              { text: 'f', value: '11111' },
              { text: 'l', value: '22222' },
              { text: 'c', value: '33333' }
            ];
            if (v == 1) {
              return a;
            }else{
              return b;
            }
         },  
        },
        methods: {
          getTime: function(v) {
            alert(1111);
            location.reload();
          },

        },

      });

      
    </script>
    
  </body>
</html>
